@{
    ViewData["Title"] = "The Privacy Policy";
}

@for (int i = 1; i <= 5; i++)
{
    <h1>@ViewData["Title"] @i</h1>
}

<p>Use this page to detail your site's privacy policy.</p>

<p>Je suis en train de visualiser la page "/Home/Privacy"</p>